{% include 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<style>
    body{

        background-image: url(https://i.pinimg.com/236x/3f/ad/6d/3fad6da7d2779c2b6c8ac97b517c5613.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-attachment: fixed;
    }
</style>

<div class="container">
<form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <br>
    <button type="submit" class="btn btn-success">Change password</button>
</form>
</div>






{% endblock %}